$primary-color:#FF950A;
$secondary-color:#FFF947;
$additional-color:#004E98;
$background-color:#FFFFFF;
$text-color:black;


// $primary-color2:;
// $secondary-color2:;
// $additional-color2:;
// $background-color2:;
// $text-color:;

