@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import '_colors.scss';


* 
{
	box-sizing: border-box;
	padding:0;
	margin: 0;
}

body 
{
    background-color:$background-color;
	font-family: 'Lato', sans-serif;
	color:$text-color;
	line-height:1.7;
}

.tlo
{
    width:100%;
	

    &__glowne
    {
        height:1025px;
	
        background-image: url(../img/Tlo_glownev2.jpg);
        background-size:cover; 
        background-repeat: no-repeat;
        background-position: center center;
        &--wcag
        {
            height:1025px;
	
            background-image: url(../img/Tlo_glownev2.jpg);
            background-size:cover; 
            background-repeat: no-repeat;
            background-position: center center;
            filter:grayscale(75%);
        }
    }
    
}


.navigacja
{
    display:flex;
    background-color:$primary-color;//rgb(71, 70, 70)
	//color:black;
	height:90px;
	position:sticky;
	top:0;
	width:100%;
	overflow:auto;

    &__container
    {
        
        //max-width:1650px;
        width:80%;
        margin:0 auto;
        padding:0 40px;
        overflow:auto;
        display:flex;
        justify-content:space-between;
        align-items:center; 
        height:100%;

        
    }
    &__logo
    {
        display:flex;
        width:64px;
        height:64px;
        align-items:center;
        justify-content:center;
        transition:all 1s linear 0s;
        &:hover
        {
            transition:all 1s linear 0s;
            transform:rotate(270deg);
        }
        &--wcag
        {
            
            display:flex;
            width:64px;
            height:64px;
            align-items:center;
            justify-content:center;
            transition:all 1s linear 0s;
            filter:grayscale(75%);
            &:hover
            {
                transition:all 1s linear 0s;
                transform:rotate(270deg);
            }
        }
    }
    &__zdj
    {
        width:64px;
        height:64px;
    }
    &--wcag
    {
        display:flex;
        background-color:black;
	    height:90px;
	    position:sticky;
	    top:0;
	    width:100%;
	    overflow:auto;
        border-bottom:3px solid yellow;
        border-top:3px solid yellow;
        z-index:5;
        
    }
}





.menu
{
    
    &__ul
    {
        display:flex;
        list-style-type: none;
    }
    &__a
    {
       
        //color:$additional-color;
        font-weight:700;
        font-size:17px;
        padding:8px;
        margin:0 5px;
        text-decoration:none;
        font-weight: 500;
	    color:$text-color;
        &:first-child
        {
            border-bottom: 2px $additional-color solid; 
            transition:all 0.17s; 
        }
        &:hover
        {
            border-top: 3px $additional-color solid;
        border-bottom: 3px $additional-color solid;
        border-radius:5px;
        transition:all 0.17s;
        }
        &--wcag
        {
            font-weight:700;
            font-size:17px;
            padding:8px;
            margin:0 5px;
            text-decoration:none;
            font-weight: 500;
            color:yellow; 
            &:first-child
            {
                border-bottom: 2px yellow solid; 
                transition:all 0.17s; 
            }
            &:hover
            {
                border-top: 3px yellow solid;
            border-bottom: 3px yellow solid;
            border-radius:5px;
            transition:all 0.17s;
            } 
        }
    }
    &__button
    {
        font-size:10px;
        background-color:$primary-color;
        border:2px;
        color:$text-color;
        font-size:14px;
        font-weight:700;
        height:30px;
        width:80px;
        //transition:all 0.31s;
       &:hover
       {
        border:2px solid $additional-color;
        color:$additional-color;
       }
       &--wcag
       {
            font-size:10px;
            background-color:black;
            border:2px;
            color:yellow;
            font-size:14px;
            font-weight:700;
            height:30px;
            width:80px;
            &:hover
            {
                border:2px solid yellow;
                color:yellow;
            }
       }
    }
    &__button2
    {
        // display:flex;
        // justify-content:center;
        // align-items:center;
        // text-align:center;
        margin:3px 0;
        margin-left:2px;
        font-size:10px;
        background-color:$primary-color;
        border:2px;
        color:$text-color;
        font-size:14px;
        font-weight:700;
        height:30px;
        width:80px;
    


        //transition:all 0.31s;
       &:hover
       {
        //border:2px solid $additional-color;
        color:$additional-color;
       }
       &--wcag
       {
            margin:3px 0;
            margin-left:2px;
            font-size:10px;
            background-color:black;
            border:2px;
            color:yellow;
            font-size:14px;
            font-weight:700;
            height:30px;
            width:80px;
           
       }
    }
    // &__button:hover
    // {
    //     border:2px solid $additional-color;
    //      color:$additional-color;
    //      //transition:all 0.31s;
    //     // background-color:rgb(225, 186, 10); 
    //     // border-radius:3px;
        
    // }
    
   
}

.tekstw
{
    background-color:$background-color;

    &--wcag
    {
        color:yellow;
        background-color:black;
        border-bottom:2px solid yellow;
    }
}


.start
{
    display:flex;
    flex-direction:column;
    align-items:space-between;
    
    &__h2
    {
        display:flex;
	justify-content: center;
	font-size:45px;
	margin:0 auto;
	padding: 20px 0;
    }
    &__p
    {
        display:flex;
        justify-content: center;
        font-size:21px;
        padding:15px 0;
    }
}

.zapoznanie
{
    margin:20px 0;
	display:flex;
	justify-content:space-evenly;
	align-items:start;
	width:100%;
	margin-bottom: 100px;
    &--wcag
    {
        margin:20px 0;
	    display:flex;
	    justify-content:space-evenly;
	    align-items:start;
	    width:100%;
	    margin-bottom: 100px;
        color:black;
    }
	
}

.section
{
    display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	flex-basis:26%;
    height:500px;

    &__h3
    {
        
        font-size:27px;
	    font-weight:bold;
        margin:20px 0px;
    }
    &__p
    {
        // margin:10px;
        font-size:17px;
        font-weight:200;
        text-align:center;
	    padding:15px 15px;
    }
    // &__p:nth-child(2n+1)
    // {
    //     background-color:$secondary-color;
    // }
    // &__p:nth-child(2n)
    // {
    //     background-color:$additional-color;
    // }
    &__video
    {
        height:210px;
        width:75%;
        margin:20px 0;
        &--wcag
        {
            height:210px;
            width:75%;
            margin:20px 0;
            filter:grayscale(75%);
        }
    }
    &__img
    {
        height:210px;
        width:75%;
        margin:20px 0;
        &--wcag
        {
            height:210px;
            width:75%;
            margin:20px 0;
            filter:grayscale(75%);
        }
    }
    &--wcag
    {
        display:flex;
	    flex-direction:column;
	    justify-content:space-evenly;
	    align-items:center;
	    flex-basis:26%;
        height:500px;
        color:yellow;
        background-color:black;
        border:2px solid yellow;
        border-radius:15px;
    }
    
    
}

.section:nth-child(2n+1)
{
    background-color:$secondary-color;  
    border-radius:15px;
    border:2px $secondary-color solid;
    
}
.section:nth-child(2n)
{
    background-color:$additional-color;
    border-radius:15px;
    border:2px $additional-color solid;
   
}

.dalej
{
    //background-color:$secondary-color;
    display:flex;
	flex-wrap:wrap;
	flex-basis:100%;

    &__manage
    {
        display:flex;
	    align-items:center;
	    justify-content:flex-end;
        flex-basis:40%;
        &--wcag
        {
            display:flex;
            align-items:center;
            justify-content:flex-end;
            flex-basis:40%;
            color:yellow;
           
        }
    }
    &__h4
    {
        color:black;
        font-weight: bold;
    }

    &__manage2
    {
        align-items:center;
	    justify-content: flex-start;
        flex-basis:20%;

    }
    &__przycisk
    {
        padding:0px;
        margin:50px auto;
        width:60px;
        height: 60px;
        /* background-color:green; */
        background-color:#DBC414;
        border-radius:50px;
        transition:all 1s linear 0s;
    }
    &__przycisk:hover
    {
        width:60px;
        height:60px;
        background-color:transparent;
        transform:rotate(360deg);
        border-radius:50%;
    }

    &__a
    {
        display:flex;
        justify-content:center;
    }
    &__img
    {
        height:60px;
        width:60px;
        margin:0 40px;
    }
    // &--wcag
    // {
    //    display:flex;
	//     flex-wrap:wrap;
	//     flex-basis:100%;
    //     color:yellow;
    //     background-color:black;
    //     border:2px solid yellow; 
    // }
}

.dopowiedzenie
{
    width:100%;
    display:flex;
        flex-direction:column;
        align-items:center;
       
        justify-content:center;
    &__srod
    {
        width:60%;
        display:flex;
        flex-direction:column;
        align-items:center;
        border:1px $additional-color solid;
        border-radius:15px;
        background-color:$additional-color;
        &--wcag
        {
            width:60%;
            display:flex;
            flex-direction:column;
            align-items:center;
            border:1px $additional-color solid;
            border-radius:15px;
            background-color:$additional-color;
            background-color: black;
            border:2px solid yellow;
            border-radius:15px;
        }
    }
    &__adnotacja
    {
        //text-align:center;
        font-size:14px;
        font-weight:bolder;
        
    }
    &__copyright
    {
        //text-align:center;
	    font-size:14px;
        font-weight:bolder;
        
    }
   
}

.stopka
{
    background-color:$primary-color;
	height:80px;
	color:$text-color;
    bottom:0;
	display:flex;
	justify-content:space-between;
	align-items:center;

    &__p
    {
        margin:0 5px;
        padding:8px 15px;
    }
    &__ul
    {
        list-style-type:none;
    }
    &--wcag
    {
        background-color:black;
        height:80px;
        color:yellow;
        bottom:0;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
}


//=====================================
@media only screen and (max-width: 800px)
{
    .tlo
    {
        //height:1000px;
        width:100%;
        &__glowne
        {
            height:600px;
            
        }
    }
    .start
    {
        &__h2
        {
            font-size:30px;
        }
        &__p
        {
            font-size:18px;
            padding:30px;
        }
    }
    .section
    {
        &__h3
        {
            font-size:25px;
            text-align:center;
        }
        &__p
        {
            font-size:15px;
        }
        &__img
        {
            height:110px;
        }
    }
    .dopowiedzenie
    {
        text-align: center;
        padding:5px;
        &__adnotacja
        {
            font-size:12px;
        }
        &__copyright
        {
            font-size:12px;
        }
    }
}

